{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <title>期货行情</title>
    <link href="{% static 'futures_data/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'futures_data/css/dashboard.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'futures_data/css/bootstrap-vue.css' %}"/>
    <script src="{% static 'futures_data/js/echarts.min.js' %}"></script>
    <script src="{% static 'futures_data/js/vue.js' %}"></script>
    <script src="{% static 'futures_data/js/polyfill.min.js' %}"></script>
    <script src="{% static 'futures_data/js/bootstrap-vue.js' %}"></script>
    <script src="{% static 'futures_data/js/axios.min.js' %}"></script>
    {% block head_js %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/futures">期货行情</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search(not implemented)" aria-label="Search">
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 col-lg-2 col-sm-none d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link {% if tag == 'overview' %} active {% endif %}" href="/futures/overview">
                  <span data-feather="home"></span>
                  数据概览
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'SHFE' %} active {% endif %}" href="/futures/exchange/SHFE/">
                  <span data-feather="file"></span>
                  上期所（SHFE）
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'DCE' %} active {% endif %}" href="/futures/exchange/DCE">
                  <span data-feather="shopping-cart"></span>
                  大商所（DCE）
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'CZCE' %} active {% endif %}" href="/futures/exchange/CZCE">
                  <span data-feather="users"></span>
                  郑商所（CZCE）
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'CFFEX' %} active {% endif %}" href="/futures/exchange/CFFEX">
                  <span data-feather="bar-chart-2"></span>
                  中金所（CFFEX）
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'INE' %} active {% endif %}" href="/futures/exchange/INE">
                  <span data-feather="layers"></span>
                  上期能源（INE）
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'major_instruments' %} active {% endif %}" href="/futures/major_instruments">
                  <span data-feather="layers"></span>
                  主力合约
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'basis' %} active {% endif %}" href="/futures/basis">
                  <span data-feather="layers"></span>
                  基差
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if tag == 'custom' %} active {% endif %}" href="#">
                  <span data-feather="layers"></span>
                  自定义
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-10 col-sm-10 ml-auto col-lg-10 px-3">
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'futures_data/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'futures_data/js/popper.min.js' %}"></script>
    {% comment %} <script src="{% static 'futures_data/js/bootstrap.min.js' %}"></script> {% endcomment %}
    <!-- Icons -->
    <script src="{% static 'futures_data/js/feather.min.js' %}"></script>
    <script src="{% static 'futures_data/js/papaparse.min.js' %}"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
