{% extends 'futures_data/base.html' %}

{% block content %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>主力合约</h1>
          </div>
          <h2>主力合约曲线</h2>
            <div id='chart' style="width: 100%;height:400px;"></div>
          <h2>主力合约列表</h2>
            <div id="app">
              <b-row>
                <b-col md="3" class="my-1">
                    <b-input-group prepend="过滤条件">
                      <b-form-input v-model="filter" placeholder="Type to Search"/></b-form-input>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
                      </b-input-group-append>
                    </b-input-group> 
                </b-col>
                <b-col md="3" class="my-1">
                    <b-input-group prepend="排序">
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="合约符号" :value="null">-- none --</option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">Asc</option>
                        <option :value="true">Desc</option>
                      </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col md="3" class="my-1">
                    <b-input-group prepend="画图系列">
                      <b-form-select v-model="selected" :options="options" @change="changePlotType" />
                  </b-form-group>
                </b-col>
                <b-col md="3" class="my-1">
                  <b-input-group prepend="每页显示" append="项">
                    <b-form-select :options="pageOptions" v-model="perPage" />
                  </b-input-group>
                </b-col>
              </b-row>
              <b-table  show-empty
                      stacked="md"
                      :items="items"
                      :fields="fields"
                      :current-page="currentPage"
                      :per-page="perPage"
                      :filter="filter"
                      :sort-by.sync="sortBy"
                      :sort-desc.sync="sortDesc"
                      :sort-direction="sortDirection"
                      @filtered="onFiltered"
                >
                <template slot="amount" slot-scope="data">
                  || format_number(Math.round(data.value)) ||
                </template>
                <template slot="vol" slot-scope="data">
                  || format_number(Math.round(data.value)) ||
                </template>
                <template slot="latest_amount" slot-scope="data">
                  || format_number(Math.round(data.value)) ||
                </template>
                <template slot="latest_vol" slot-scope="data">
                  || format_number(Math.round(data.value)) ||
                </template>
                <template slot="max_fluc" slot-scope="data">
                  || (data.value * 100).toFixed(2) ||
                </template>
                <template slot="plot" slot-scope="row">
                    <b-form-checkbox @click.native.stop @change="changePlotData(row.item)">
                    </b-form-checkbox>
              </template>
              </b-table>
              <b-row>
                <b-col md="6" class="my-1">
                  <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0"></b-pagination>
                </b-col>
                <b-col md="6" class="my-1">
                  <p>共|| totalRows ||项</p>
                </b-col>
              </b-row>
            </div>
<script>
    var myChart = echarts.init(document.getElementById('chart'));
    var series = []
    var option = {
    title: {
        text: ''
    },
    legend: {
        data: [],
        selectedMode: "multiple",
        show: true,
        left: "center",
        top: "top",
        orient: "horizontal",
        textStyle: {
        "fontSize": 12
        }
    },
    tooltip: {},
    xAxis: {
        type: 'time',
    },
    yAxis: {
        type: 'value'
    },
    series: series
    };
    myChart.setOption(option);

    var app = new Vue({
      el: '#app',
      delimiters: ['||', '||'],
      data: {
        sortBy: null,
        items: [], 
        currentPage: 1,
        perPage: 10,
        pageOptions: [10, 20, 50, 100],
        totalRows: 0,
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        selected: 'price',
        options: [
            { value: 'price', text: '价格' },
            { value: 'vol', text: '成交量' },
            { value: 'amount', text: '成交额' },
          ],
        fields: [
          {
            key: 'symbol',
            sortable: true,
            label: '合约类型'
          },
          {
            key: 'update_time',
            sortable: true,
            label: '更新时间'
          },
          {
            key: 'latest_price',
            sortable: true,
            label: '最新价格'
          },
          {
            key: 'list_date',
            sortable: true,
            label: '上市时间'
          },
          {
            key: 'alive',
            sortable: true,
            label: '存活状态'
          },
          {
            key: 'life_time',
            sortable: true,
            label: '存活时间'
          },
          {
            key: 'vol',
            sortable: true,
            label: '总成交量'
          },
          {
            key: 'amount',
            sortable: true,
            label: '总成交额'
          },
          {
            key: 'latest_vol',
            sortable: true,
            label: '最新成交量'
          },
          {
            key: 'latest_amount',
            sortable: true,
            label: '最新成交额'
          },
          {
            key: 'high',
            sortable: true,
            label: '最高价'
          },
          {
            key: 'low',
            sortable: true,
            label: '最低价'
          },
          {
            key: 'max_fluc',
            sortable: true,
            label: '变动幅度/%'
          },
          {
            key: 'plot',
            sortable: true,
            label: '是否画图'
          },
        ],
      },
      created: function() {
        this.init();
      },
      computed: {
        sortOptions() {
          return this.fields
            .filter(f => f.sortable)
            .map(f => { return { text: f.label, value: f.key } })
        }
      },
      methods: {
        init: function() {
          this.loadData();
        },
        loadData: async function() {
          res = await axios.get('/futures/major_instruments_data/ALL/None')
          data = res.data
          this.items = res.data,
          this.totalRows = this.items.length
        },
        onFiltered: function (filteredItems) {
          this.totalRows = filteredItems.length
          this.currentPage = 1
        },
        format_number: function (x) {
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        },
        changePlotData: function (item) {
            if(item._plot == 'undefined') {
              item._plot = true
            }
            else {
              item._plot = !item._plot
            }
            this.updatePlot()
        },
        changePlotType: function () {
          console.log(this.selected);
          this.updatePlot();
        },
        updatePlot: async function () {
            option.legend.data = []
            series.length = 0
            selected = this.selected
            for(i = 0; i < this.items.length; i++) {
              if(this.items[i]._plot == true) {
                item = this.items[i];
                rv = await axios.get('/futures/major_instruments_data/' + item.symbol + '/' + selected)
                series.push({
                  name: item.filename,
                  type: 'line',
                  data: rv.data,
                })
                option.legend.data.push(item.filename)
              }
            }
            myChart.setOption(option, notMerge=true)
        }
      }
    })
</script>
{% endblock %}