{% extends 'futures_data/base.html' %}

{% block content %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>数据概览</h1>
          </div>
          <h2>四大期货交易所汇总数据</h2>
          {{ total_chart|safe }}
          <h2>上期所数据</h2>
          {{ SHFE_chart|safe }}
          <h2>大商所数据</h2>
          {{ DCE_chart|safe }}
          <h2>郑商所数据</h2>
          {{ CZCE_chart|safe }}
          <h2>中金所数据</h2>
          {{ CFFEX_chart|safe }}
          <h2>上期能源数据</h2>
          {{ INE_chart|safe }}
          <script>
            echarts.connect([
              {% for chart_id in chart_ids %}
                echarts.getInstanceByDom(document.getElementById("{{ chart_id|safe }}")),
              {% endfor %}
            ]);
          </script>
{% endblock %}